In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train_df=pd.read_csv('Train.csv')

In [3]:
test_df=pd.read_csv('Test.csv')

In [63]:
train_df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,source
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,train
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,train
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,train
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800,train
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,train

In [5]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
Item_Identifier              8523 non-null object
Item_Weight                  7060 non-null float64
Item_Fat_Content             8523 non-null object
Item_Visibility              8523 non-null float64
Item_Type                    8523 non-null object
Item_MRP                     8523 non-null float64
Outlet_Identifier            8523 non-null object
Outlet_Establishment_Year    8523 non-null int64
Outlet_Size                  6113 non-null object
Outlet_Location_Type         8523 non-null object
Outlet_Type                  8523 non-null object
Item_Outlet_Sales            8523 non-null float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.1+ KB

In [6]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 11 columns):
Item_Identifier              5681 non-null object
Item_Weight                  4705 non-null float64
Item_Fat_Content             5681 non-null object
Item_Visibility              5681 non-null float64
Item_Type                    5681 non-null object
Item_MRP                     5681 non-null float64
Outlet_Identifier            5681 non-null object
Outlet_Establishment_Year    5681 non-null int64
Outlet_Size                  4075 non-null object
Outlet_Location_Type         5681 non-null object
Outlet_Type                  5681 non-null object
dtypes: float64(3), int64(1), object(7)
memory usage: 488.3+ KB

In [7]:
#Processing both training and test data into 1 dataset could minimize work
train_df['source']='train'
test_df['source']='test'
data=pd.concat([train_df,test_df],ignore_index=True)

In [8]:
data.head(20)

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type,source
0,Low Fat,FDA15,249.8092,3735.1380,Dairy,0.016047,9.300,1999,OUT049,Tier 1,Medium,Supermarket Type1,train
1,Regular,DRC01,48.2692,443.4228,Soft Drinks,0.019278,5.920,2009,OUT018,Tier 3,Medium,Supermarket Type2,train
2,Low Fat,FDN15,141.6180,2097.2700,Meat,0.016760,17.500,1999,OUT049,Tier 1,Medium,Supermarket Type1,train
3,Regular,FDX07,182.0950,732.3800,Fruits and Vegetables,0.000000,19.200,1998,OUT010,Tier 3,NaN,Grocery Store,train
4,Low Fat,NCD19,53.8614,994.7052,Household,0.000000,8.930,1987,OUT013,Tier 3,High,Supermarket Type1,train
5,Regular,FDP36,51.4008,556.6088,Baking Goods,0.000000,10.395,2009,OUT018,Tier 3,Medium,Supermarket Type2,train
6,Regular,FDO10,57.6588,343.5528,Snack Foods,0.012741,13.650,1987,OUT013,Tier 3,High,Supermarket Type1,train
7,Low Fat,FDP10,107.7622,4022.7636,Snack Foods,0.127470,NaN,1985,OUT027,Tier 3,Medium,Supermarket Type3,train
8,Regular,FDH17,96.9726,1076.5986,Frozen Foods,0.016687,16.200,2002,OUT045,Tier 2,NaN,Supermarket Type1,train
9,Regular,FDU28,187.8214,4710.5350,Frozen Foods,0.094450,19.200,2007,OUT017,Tier 2,NaN,Supermarket Type1,train
10,Low Fat,FDY07,45.5402,1516.0266,Fruits and Vegetables,0.000000,11.800,1999,OUT049,Tier 1,Medium,Supermarket Type1,train
11,Regular,FDA03,144.1102,2187.1530,Dairy,0.045464,18.500,1997,OUT046,Tier 1,Small,Supermarket Type1,train
12,Regular,FDX32,145.4786,1589.2646,Fruits and Vegetables,0.100014,15.100,1999,OUT049,Tier 1,Medium,Supermarket Type1,train
13,Regular,FDS46,119.6782,2145.2076,Snack Foods,0.047257,17.600,1997,OUT046,Tier 1,Small,Supermarket Type1,train
14,Low Fat,FDF32,196.4426,1977.4260,Fruits and Vegetables,0.068024,16.350,1987,OUT013,Tier 3,High,Supermarket Type1,train
15,Regular,FDP49,56.3614,1547.3192,Breakfast,0.069089,9.000,1997,OUT046,Tier 1,Small,Supermarket Type1,train
16,Low Fat,NCB42,115.3492,1621.8888,Health and Hygiene,0.008596,11.800,2009,OUT018,Tier 3,Medium,Supermarket Type2,train
17,Regular,FDP49,54.3614,718.3982,Breakfast,0.069196,9.000,1999,OUT049,Tier 1,Medium,Supermarket Type1,train
18,Low Fat,DRI11,113.2834,2303.6680,Hard Drinks,0.034238,NaN,1985,OUT027,Tier 3,Medium,Supermarket Type3,train
19,Low Fat,FDU02,230.5352,2748.4224,Dairy,0.102492,13.350,2004,OUT035,Tier 2,Small,Supermarket Type1,train

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14204 entries, 0 to 14203
Data columns (total 13 columns):
Item_Fat_Content             14204 non-null object
Item_Identifier              14204 non-null object
Item_MRP                     14204 non-null float64
Item_Outlet_Sales            8523 non-null float64
Item_Type                    14204 non-null object
Item_Visibility              14204 non-null float64
Item_Weight                  11765 non-null float64
Outlet_Establishment_Year    14204 non-null int64
Outlet_Identifier            14204 non-null object
Outlet_Location_Type         14204 non-null object
Outlet_Size                  10188 non-null object
Outlet_Type                  14204 non-null object
source                       14204 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 1.5+ MB

In [10]:
data.describe()

,Item_MRP,Item_Outlet_Sales,Item_Visibility,Item_Weight,Outlet_Establishment_Year
count,14204.000000,8523.000000,14204.000000,11765.000000,14204.000000
mean,141.004977,2181.288914,0.065953,12.792854,1997.830681
std,62.086938,1706.499616,0.051459,4.652502,8.371664
min,31.290000,33.290000,0.000000,4.555000,1985.000000
25%,94.012000,834.247400,0.027036,8.710000,1987.000000
50%,142.247000,1794.331000,0.054021,12.600000,1999.000000
75%,185.855600,3101.296400,0.094037,16.750000,2004.000000
max,266.888400,13086.964800,0.328391,21.350000,2009.000000

In [11]:
data.apply(lambda x: len(x.unique()))

Item_Fat_Content                 5
Item_Identifier               1559
Item_MRP                      8052
Item_Outlet_Sales             3494
Item_Type                       16
Item_Visibility              13006
Item_Weight                    416
Outlet_Establishment_Year        9
Outlet_Identifier               10
Outlet_Location_Type             3
Outlet_Size                      4
Outlet_Type                      4
source                           2
dtype: int64

In [12]:
#Imputing missing item weight by mean weight of each identifier
data['Item_Weight']=data.groupby("Item_Identifier").transform(lambda x:x.fillna(x.mean()))
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14204 entries, 0 to 14203
Data columns (total 13 columns):
Item_Fat_Content             14204 non-null object
Item_Identifier              14204 non-null object
Item_MRP                     14204 non-null float64
Item_Outlet_Sales            8523 non-null float64
Item_Type                    14204 non-null object
Item_Visibility              14204 non-null float64
Item_Weight                  14204 non-null float64
Outlet_Establishment_Year    14204 non-null int64
Outlet_Identifier            14204 non-null object
Outlet_Location_Type         14204 non-null object
Outlet_Size                  10188 non-null object
Outlet_Type                  14204 non-null object
source                       14204 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 1.5+ MB

In [13]:
data['Item_Weight'].head(20)

0     249.8092
1      48.2692
2     141.6180
3     182.0950
4      53.8614
5      51.4008
6      57.6588
7     107.7622
8      96.9726
9     187.8214
10     45.5402
11    144.1102
12    145.4786
13    119.6782
14    196.4426
15     56.3614
16    115.3492
17     54.3614
18    113.2834
19    230.5352
Name: Item_Weight, dtype: float64

In [14]:
data["Outlet_Size"].value_counts()

Medium    4655
Small     3980
High      1553
Name: Outlet_Size, dtype: int64

In [15]:
data["Outlet_Size"].fillna("Medium",inplace=True)

In [16]:
data["Outlet_Size"].value_counts()

Medium    8671
Small     3980
High      1553
Name: Outlet_Size, dtype: int64

In [17]:
data.head(5)

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type,source
0,Low Fat,FDA15,249.8092,3735.1380,Dairy,0.016047,249.8092,1999,OUT049,Tier 1,Medium,Supermarket Type1,train
1,Regular,DRC01,48.2692,443.4228,Soft Drinks,0.019278,48.2692,2009,OUT018,Tier 3,Medium,Supermarket Type2,train
2,Low Fat,FDN15,141.6180,2097.2700,Meat,0.016760,141.6180,1999,OUT049,Tier 1,Medium,Supermarket Type1,train
3,Regular,FDX07,182.0950,732.3800,Fruits and Vegetables,0.000000,182.0950,1998,OUT010,Tier 3,Medium,Grocery Store,train
4,Low Fat,NCD19,53.8614,994.7052,Household,0.000000,53.8614,1987,OUT013,Tier 3,High,Supermarket Type1,train

In [18]:
# Establishment year should be expressed in form that how old is the outlet
data["Outlet_Establishment_Year"]=2013-data["Outlet_Establishment_Year"]
data.head(5)

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type,source
0,Low Fat,FDA15,249.8092,3735.1380,Dairy,0.016047,249.8092,14,OUT049,Tier 1,Medium,Supermarket Type1,train
1,Regular,DRC01,48.2692,443.4228,Soft Drinks,0.019278,48.2692,4,OUT018,Tier 3,Medium,Supermarket Type2,train
2,Low Fat,FDN15,141.6180,2097.2700,Meat,0.016760,141.6180,14,OUT049,Tier 1,Medium,Supermarket Type1,train
3,Regular,FDX07,182.0950,732.3800,Fruits and Vegetables,0.000000,182.0950,15,OUT010,Tier 3,Medium,Grocery Store,train
4,Low Fat,NCD19,53.8614,994.7052,Household,0.000000,53.8614,26,OUT013,Tier 3,High,Supermarket Type1,train

In [19]:
#encoding categorical variables
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
#New variable for outlet
data['Outlet'] = le.fit_transform(data['Outlet_Identifier'])
var_mod = ['Item_Fat_Content','Outlet_Location_Type','Outlet_Size','Item_Type','Outlet_Type','Outlet']
le = LabelEncoder()
for i in var_mod:
    data[i] = le.fit_transform(data[i])

In [20]:
data.head()

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type,source,Outlet
0,1,FDA15,249.8092,3735.1380,4,0.016047,249.8092,14,OUT049,0,1,1,train,9
1,2,DRC01,48.2692,443.4228,14,0.019278,48.2692,4,OUT018,2,1,2,train,3
2,1,FDN15,141.6180,2097.2700,10,0.016760,141.6180,14,OUT049,0,1,1,train,9
3,2,FDX07,182.0950,732.3800,6,0.000000,182.0950,15,OUT010,2,1,0,train,0
4,1,NCD19,53.8614,994.7052,9,0.000000,53.8614,26,OUT013,2,0,1,train,1

In [21]:
#onehotencoding
data=pd.get_dummies(data, columns=['Item_Fat_Content','Outlet_Location_Type','Outlet_Size','Item_Type','Outlet_Type','Outlet'])
data.head(5)

,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,source,Item_Fat_Content_0,Item_Fat_Content_1,...,Outlet_0,Outlet_1,Outlet_2,Outlet_3,Outlet_4,Outlet_5,Outlet_6,Outlet_7,Outlet_8,Outlet_9
0,FDA15,249.8092,3735.1380,0.016047,249.8092,14,OUT049,train,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,DRC01,48.2692,443.4228,0.019278,48.2692,4,OUT018,train,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,FDN15,141.6180,2097.2700,0.016760,141.6180,14,OUT049,train,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,FDX07,182.0950,732.3800,0.000000,182.0950,15,OUT010,train,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NCD19,53.8614,994.7052,0.000000,53.8614,26,OUT013,train,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
data.dtypes

Item_Identifier               object
Item_MRP                     float64
Item_Outlet_Sales            float64
Item_Visibility              float64
Item_Weight                  float64
Outlet_Establishment_Year      int64
Outlet_Identifier             object
source                        object
Item_Fat_Content_0           float64
Item_Fat_Content_1           float64
Item_Fat_Content_2           float64
Item_Fat_Content_3           float64
Item_Fat_Content_4           float64
Outlet_Location_Type_0       float64
Outlet_Location_Type_1       float64
Outlet_Location_Type_2       float64
Outlet_Size_0                float64
Outlet_Size_1                float64
Outlet_Size_2                float64
Item_Type_0                  float64
Item_Type_1                  float64
Item_Type_2                  float64
Item_Type_3                  float64
Item_Type_4                  float64
Item_Type_5                  float64
Item_Type_6                  float64
Item_Type_7                  float64
Item_Type_8                  float64
Item_Type_9                  float64
Item_Type_10                 float64
Item_Type_11                 float64
Item_Type_12                 float64
Item_Type_13                 float64
Item_Type_14                 float64
Item_Type_15                 float64
Outlet_Type_0                float64
Outlet_Type_1                float64
Outlet_Type_2                float64
Outlet_Type_3                float64
Outlet_0                     float64
Outlet_1                     float64
Outlet_2                     float64
Outlet_3                     float64
Outlet_4                     float64
Outlet_5                     float64
Outlet_6                     float64
Outlet_7                     float64
Outlet_8                     float64
Outlet_9                     float64
dtype: object

In [51]:
#Dividing back into training and test sets

train = data.loc[data['source']=="train"]
test = data.loc[data['source']=="test"]

test.drop(['Item_Outlet_Sales','source'],axis=1,inplace=True)
train.drop(['source'],axis=1,inplace=True)
train.head()

/home/naman/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/naman/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Item_Fat_Content_0,Item_Fat_Content_1,Item_Fat_Content_2,...,Outlet_0,Outlet_1,Outlet_2,Outlet_3,Outlet_4,Outlet_5,Outlet_6,Outlet_7,Outlet_8,Outlet_9
0,FDA15,249.8092,3735.1380,0.016047,249.8092,14,OUT049,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,DRC01,48.2692,443.4228,0.019278,48.2692,4,OUT018,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,FDN15,141.6180,2097.2700,0.016760,141.6180,14,OUT049,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,FDX07,182.0950,732.3800,0.000000,182.0950,15,OUT010,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NCD19,53.8614,994.7052,0.000000,53.8614,26,OUT013,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
train_y=train["Item_Outlet_Sales"]
train_x=train.drop(['Item_Outlet_Sales','Item_Identifier','Outlet_Identifier'],axis=1)
train_x=train_x.values

train_x

array([[  2.49809200e+02,   1.60473010e-02,   2.49809200e+02, ...,
          0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  4.82692000e+01,   1.92782160e-02,   4.82692000e+01, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.41618000e+02,   1.67600750e-02,   1.41618000e+02, ...,
          0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       ...,
       [  8.51224000e+01,   3.51862710e-02,   8.51224000e+01, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.03133200e+02,   1.45220646e-01,   1.03133200e+02, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  7.54670000e+01,   4.48782800e-02,   7.54670000e+01, ...,
          0.00000000e+00,   1.00000000e+00,   0.00000000e+00]])

In [53]:
test_x=test.drop(['Item_Identifier','Outlet_Identifier'],axis=1).values
test_x

array([[  1.07862200e+02,   7.56483600e-03,   1.07862200e+02, ...,
          0.00000000e+00,   0.00000000e+00,   1.00000000e+00],
       [  8.73198000e+01,   3.84276770e-02,   8.73198000e+01, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  2.41753800e+02,   9.95749080e-02,   2.41753800e+02, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       ...,
       [  1.18744000e+02,   7.35285610e-02,   1.18744000e+02, ...,
          1.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  2.14621800e+02,   0.00000000e+00,   2.14621800e+02, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  7.97960000e+01,   1.04720151e-01,   7.97960000e+01, ...,
          1.00000000e+00,   0.00000000e+00,   0.00000000e+00]])

In [54]:
#creating linear regression model 
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [56]:
ypred_reg=regressor.predict(test_x)
ypred_reg

array([ 1839.79929411,  1425.81400734,  1887.47996608, ...,  1822.08540686,
        3594.6158604 ,  1284.9929045 ])

In [66]:
#creating submission file
result=pd.DataFrame()
result['Item_Identifier'] = test['Item_Identifier']
result['Outlet_Identifier'] = test['Outlet_Identifier']

result["Item_Outlet_Sales"] = ypred_reg
result = result.sort_index()
result.to_csv('submission.csv',index=False)